body {
  margin: 100px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-family: alata !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
}
